# Arduino / arduino-cli build output
build/
build_out/
*.hex
*.elf
*.map

# Archives / packaging
*.zip
*.tar.gz

# Raspberry Pi target: virtualenv + Python bytecode
pi/venv/
__pycache__/
*.pyc
pi/flocknoir/native_core.so
pi/flocknoir/native_core.dll
pi/flocknoir/native_core.lib
pi/flocknoir/core.lib
pi/flocknoir/native_core.pdb

# OS cruft
.DS_Store
Thumbs.db
desktop.ini
*~

# Editors
.vscode/
.idea/
*.swp

# Do NOT ignore the prebuilt release image:
!binaries/*.bin

.pio/
.test-build/

_site/
